* {
	margin: 0;
	padding: 0;
}

body {
	background: #282C34;
}

header, #info, #data {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 0 20px;
	height: fit-content;
	background: #282C34;
	color: #eee;
	z-index: 10;
	font-size: 30px;
	font-family: monospace;
	user-select: none;
    -webkit-user-select: none;
	pointer-events: none;
}

#info {
	width: fit-content;
	height: fit-content;
	top: 0;
	left: 0;
	padding: 20px;
	background: none;
	font-size: 20px;
	font-family: "Open Sans", sans-serif;
}
#info td {
	width: 130px;
}

header {
	width: 100%;
	top: 10px;
	left: 0;
	text-align: center;
	background: none;
}

header h1 {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 30px;
	color: #dd2e23;
}

#info strong {
	color: #dd2e23;
}

progress {
	-webkit-appearance: none;
	width: 150px;
}

::-webkit-progress-bar {
	background-color: #191e26;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
	border-radius: 2px;
}
::-webkit-progress-value {
	background: #dd2e23;
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
}
